<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue</title>
    <style>
        table {
            border: 1px solid #000;
        }
    </style>
    <script src="../node_modules/vue/dist/vue.js"></script>

</head>
<body>
<div id="app-4">
    <p>list title</p>

    <!--v-if 取反显示请求数据-->
    <table v-if="result.code==1" v-for="module in result.resultList">
        <tr>
            <td>{{module.id}}</td>
            <td>{{module.userName}}</td>
            <td>{{module.parkName}}</td>
            <td>{{module.content}}</td>
        </tr>

    </table>
</div>

</body>
<script>
    var app = new Vue({
        el: "#app-4",
        "data": {
            "code": 0,
            "msg": "成功",
            "result": {
                "totalCount": 26,
                "resultList": [
                    {
                        "id": 41,
                        "userId": 13339,
                        "userName": "普通用户",
                        "companyId": 1,
                        "companyName": "企业名称",
                        "platformId": 1,
                        "parkName": "科技园区名称2",
                        "contact": "13666668836",
                        "pic": "https://www.baidu.com/img/baidu_jgylogo3.gif",
                        "insertDate": 1468301886000,
                        "updateDate": 1468301886000,
                        "status": 1,
                        "content": "app使用，意见反馈测试",
                        "osType": 0,
                        "osVersion": "9.0",
                        "versionName": "1.2.3",
                        "network": "WIFI",
                        "adviceType": 1
                    },
                    {
                        "id": 40,
                        "userId": 13339,
                        "userName": "普通用户",
                        "companyId": 1,
                        "companyName": "企业名称",
                        "platformId": 1,
                        "parkName": "科技园区名称2",
                        "contact": "1366666888",
                        "pic": null,
                        "insertDate": 1468293179000,
                        "updateDate": 1468293179000,
                        "status": 1,
                        "content": "app使用，意见反馈测试",
                        "osType": 0,
                        "osVersion": "9.0",
                        "versionName": "1.2.3",
                        "network": "WIFI",
                        "adviceType": 1
                    },
                    {
                        "id": 39,
                        "userId": 13339,
                        "userName": "普通用户",
                        "companyId": 1,
                        "companyName": "企业名称",
                        "platformId": 1,
                        "parkName": "科技园区名称2",
                        "contact": "13666668821",
                        "pic": null,
                        "insertDate": 1468292484000,
                        "updateDate": 1468292484000,
                        "status": 1,
                        "content": "app使用，意见反馈测试",
                        "osType": 0,
                        "osVersion": "9.0",
                        "versionName": "1.2.3",
                        "network": "WIFI",
                        "adviceType": 1
                    },
                    {
                        "id": 38,
                        "userId": 13339,
                        "userName": "普通用户",
                        "companyId": 1,
                        "companyName": "企业名称",
                        "platformId": 1,
                        "parkName": "科技园区名称2",
                        "contact": "13666668851",
                        "pic": null,
                        "insertDate": 1468292381000,
                        "updateDate": 1468292381000,
                        "status": 1,
                        "content": "app使用，意见反馈测试",
                        "osType": 0,
                        "osVersion": "9.0",
                        "versionName": "1.2.3",
                        "network": "WIFI",
                        "adviceType": 1
                    },
                    {
                        "id": 37,
                        "userId": 13339,
                        "userName": "普通用户",
                        "companyId": 1,
                        "companyName": "企业名称",
                        "platformId": 1,
                        "parkName": "科技园区名称2",
                        "contact": "999999",
                        "pic": null,
                        "insertDate": 1467885044000,
                        "updateDate": 1467885044000,
                        "status": 1,
                        "content": "ahaha",
                        "osType": 0,
                        "osVersion": "5.0",
                        "versionName": "1.3.0",
                        "network": "WIFI",
                        "adviceType": 1
                    },
                    {
                        "id": 36,
                        "userId": 13339,
                        "userName": "普通用户",
                        "companyId": 1,
                        "companyName": "企业名称",
                        "platformId": 1,
                        "parkName": "科技园区名称2",
                        "contact": "999999",
                        "pic": null,
                        "insertDate": 1467884944000,
                        "updateDate": 1467884944000,
                        "status": 1,
                        "content": "ahaha",
                        "osType": null,
                        "osVersion": null,
                        "versionName": null,
                        "network": null,
                        "adviceType": 1
                    },
                    {
                        "id": 35,
                        "userId": 13339,
                        "userName": "普通用户",
                        "companyId": 1,
                        "companyName": "企业名称",
                        "platformId": 1,
                        "parkName": "科技园区名称2",
                        "contact": "999999",
                        "pic": null,
                        "insertDate": 1467884861000,
                        "updateDate": 1467884861000,
                        "status": 1,
                        "content": "ahaha",
                        "osType": null,
                        "osVersion": null,
                        "versionName": null,
                        "network": null,
                        "adviceType": 1
                    },
                    {
                        "id": 34,
                        "userId": 13339,
                        "userName": "普通用户",
                        "companyId": -1759257733651735000,
                        "companyName": null,
                        "platformId": 1,
                        "parkName": "科技园区名称2",
                        "contact": "13666668832",
                        "pic": null,
                        "insertDate": 1467871040000,
                        "updateDate": 1467871040000,
                        "status": 1,
                        "content": "每日一测试，再一次，哈哈哈test content77",
                        "osType": 0,
                        "osVersion": "9.0",
                        "versionName": "1.2.3",
                        "network": "WIFI",
                        "adviceType": 1
                    },
                    {
                        "id": 33,
                        "userId": 102,
                        "userName": null,
                        "companyId": -8573519497735868000,
                        "companyName": null,
                        "platformId": 1,
                        "parkName": "科技园区名称2",
                        "contact": "13666668824",
                        "pic": null,
                        "insertDate": 1467870993000,
                        "updateDate": 1467870993000,
                        "status": 1,
                        "content": "每日一测试，哈哈哈test content83",
                        "osType": 0,
                        "osVersion": "9.0",
                        "versionName": "1.2.3",
                        "network": "WIFI",
                        "adviceType": 1
                    },
                    {
                        "id": 32,
                        "userId": 13339,
                        "userName": "普通用户",
                        "companyId": 1,
                        "companyName": "企业名称",
                        "platformId": 1,
                        "parkName": "科技园区名称2",
                        "contact": "8888",
                        "pic": null,
                        "insertDate": 1467852830000,
                        "updateDate": 1467802430000,
                        "status": 1,
                        "content": "bbahahaaaa",
                        "osType": null,
                        "osVersion": null,
                        "versionName": null,
                        "network": null,
                        "adviceType": 1
                    }
                ]
            }
        }
    })
</script>


</html>




