<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>vue</title>
  <style>
    table {
      border: 1px solid #000;
    }
  </style>
  <script src="../node_modules/vue/dist/vue.js"></script>
</head>

<body>

<div id="app-7">
  <ol>
    <push-li v-for="todo in datas" v-bind:todo="todo"></push-li>
  </ol>
  <ul>
    <item-li v-for="todo in datas" v-bind:todo="todo"></item-li>
  </ul>
</div>

</body>

<script>

  Vue.component("item-li",{
    props:["todo"],
    template:'<li>{{todo.age}}</li>'
  })

  //app
  Vue.component('push-li', {
    props: ['todo'],
    template: '<li>{{todo.text}}</li>'

  })

  var app= new Vue({
    el:"#app-7",
    data:{
      datas: [

        { text: 'Learn JavaScript' ,
          age:"good1"
        },
        { text: 'Learn Vue' ,
          age:"good2"
        },
        { text: 'Build something awesome' ,
          age:"good3"
        },
      ]
    }
  })

</script>

</html>




