<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue</title>
    <style>
        table {
            border: 1px solid #000;
        }
    </style>
    <script src="../node_modules/vue/dist/vue.js"></script>

</head>
<body>
<div id="app-4">
    <p>list for</p>


    <p>{{a1}}</p>
    <ul v-for="item in arr">
        <li>{{item}}</li>
    </ul>

    <br>
    <br>
    <ul v-for="(k,v) in json">
        <li>{{v}}:{{k}}</li>
    </ul>
</div>

</body>
<script>
    var App =new Vue({
        el:"#app-4",
        data:{
            a1:"a",
            b1:"b",
            arr:["213","ewqe","213","ewqe","213","ewqe","213","ewqe"],
            json:{a1:"a",b1:"b",width:"20px",height:"auto"}
        }
    })


</script>


</html>




