<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>13_vue</title>
  <style>
    body {
      margin: 0;
      padding: 0;
    }
    .finished{
      text-decoration: underline;
    }
  </style>
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
  <script src="../node_modules/vue/dist/vue.js"></script>
  <script src="../node_modules/jquery/dist/jquery.js"></script>
  <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
</head>

<body>
    <div id="App">
      <form class="form-inline">
        <div class="form-group">
          <label></label>
          <input type="text" class="form-control" v-model="newItem" @keyup.enter="addNews">
        </div>
        <a  class="btn btn-danger" @click="addNews">添加待办</a>
      </form>

      <hr>
      <ul>
        <li v-for="(item,index) in jsons" v-bind:class="{finished:item.isFinished}" @click="toggleStatus(item)" >{{item.label}}</li>
      </ul>
    </div>
</body>

<script>
    var App =new Vue({
      el:"#App",
      data:{
        jsons:[
          {"label":"watchTV","isFinished":false},
          {"label":"dinner","isFinished":true},
          {"label":"sleeping","isFinished":false},
        ],
        newItem:"21"
      },
      methods:{
        toggleStatus:function(art){
          art.isFinished=!art.isFinished
        },
        addNews:function () {
          this.jsons.push({"label":this.newItem,"isFinished":false})
          this.newItem="";
        }
      }
    })

</script>

</html>




